**/.vs
**/.DS_Store
**/.git
**/.svn
**/CVS
.DS_Store
._.DS_Store
*.suo
*.ipch
*.psess
*.vspx
*.aps
browse.vc.db
solution.vc.db*
*.vc.db
*.depend
*.layout
*.gch
*.pch
*.expand_fileset
*.expand_fileset.spa
Thumbs.db
