[Desktop Entry]
Version=1.0
Type=Application
Name=
GenericName=
Comment=
Exec=
Icon=
Terminal=false
X-MultipleArgs=false
Categories=Utilities;
StartupNotify=true
MimeType=
